.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .note {
        display: flex;
        flex-direction: column;
        flex: 0 1 40%;
        border: 1px solid black;
        border-radius: 25px;
        margin: 15px;
        padding: 15px;
        li {
            margin: 5px;
            border: 1px solid black;
            margin: 0;
            list-style: none;
        }
        li:nth-child(odd) {
            background-color: black;
            color: white;
        }
        li:nth-child(even) {
            background-color: white;
            color: black;
        }
    }
}
